Asssessment3.json
[
    {
        "id": "212df90cf04ad99d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "394cadc83ac7fd45",
        "type": "mqtt in",
        "z": "212df90cf04ad99d",
        "name": "MEL-AQ-Sensor",
        "topic": "application/3abe7286-a458-45a3-b535-f94afe82ff7e/device/+/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c7dd8add2dedc51f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 700,
        "y": 220,
        "wires": [
            [
                "83b3124d9797e58d",
                "f1aca814f758eee1",
                "0f0280a74d9bfcb1",
                "d31aa577588855ea"
            ]
        ]
    },
    {
        "id": "83b3124d9797e58d",
        "type": "debug",
        "z": "212df90cf04ad99d",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "f1aca814f758eee1",
        "type": "function",
        "z": "212df90cf04ad99d",
        "name": "From IOT Hub Temp",
        "func": "var sensorData = msg.payload; \nmsg.payload = //sensorData.payloadT.temperature; \n{ \nApplicationName: sensorData.deviceInfo.applicationName, \nDeviceName: sensorData.deviceInfo.deviceName, \nTemperature: sensorData.object.temperature_7, \n\n\n\"deviceId\": \"ZoneA_Temp\",\n\"key\": \"dDXpSrVCkdtYd2MS6CPsBFm+YVhykLshpAIoTMNyhao=\",\n\n} \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 340,
        "wires": [
            [
                "7112f61637d9a2ed",
                "616c07029a6db00d"
            ]
        ]
    },
    {
        "id": "7112f61637d9a2ed",
        "type": "debug",
        "z": "212df90cf04ad99d",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 580,
        "wires": []
    },
    {
        "id": "05035db6411983b0",
        "type": "azureiothub",
        "z": "212df90cf04ad99d",
        "name": "Azure Out - ZoneA_Temp",
        "protocol": "http",
        "x": 250,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "616c07029a6db00d",
        "type": "json",
        "z": "212df90cf04ad99d",
        "name": "Format",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 240,
        "y": 400,
        "wires": [
            [
                "05035db6411983b0"
            ]
        ]
    },
    {
        "id": "0f0280a74d9bfcb1",
        "type": "function",
        "z": "212df90cf04ad99d",
        "name": "From IOT Hub Humidity",
        "func": "var sensorData = msg.payload; \nmsg.payload = //sensorData.payloadT.humidity; \n{ \nApplicationName: sensorData.deviceInfo.applicationName, \nDeviceName: sensorData.deviceInfo.deviceName, \nHumidity: sensorData.object.humidity_6,\n\n\"deviceId\": \"ZoneA_Humidity\",\n\"key\": \"njdkq95zAmOJdl8GXJQzSVVWeC2qPNC1GeJegers328=\",\n\n} \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 360,
        "wires": [
            [
                "d1011804214d6a2f",
                "41adb092f4d226e2"
            ]
        ]
    },
    {
        "id": "41adb092f4d226e2",
        "type": "json",
        "z": "212df90cf04ad99d",
        "name": "Format",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 720,
        "y": 420,
        "wires": [
            [
                "7c8d41da97c16498"
            ]
        ]
    },
    {
        "id": "7c8d41da97c16498",
        "type": "azureiothub",
        "z": "212df90cf04ad99d",
        "name": "Azure Out - ZoneA_Humidity",
        "protocol": "http",
        "x": 760,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "d1011804214d6a2f",
        "type": "debug",
        "z": "212df90cf04ad99d",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 600,
        "wires": []
    },
    {
        "id": "d31aa577588855ea",
        "type": "function",
        "z": "212df90cf04ad99d",
        "name": "From IOT Hub CO2",
        "func": "var sensorData = msg.payload; \nmsg.payload = //sensorData.payloadT.CO2; \n{ \nApplicationName: sensorData.deviceInfo.applicationName, \nDeviceName: sensorData.deviceInfo.deviceName, \nCO2: sensorData.object.barometer_8,\n\n\"deviceId\": \"ZoneA_CO2\",\n\"key\": \"Opk6Enj7DV9BmSlx9A1cv3uFq4zYbcDpWLRLNVUpVx8=\",\n\n} \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 360,
        "wires": [
            [
                "05d20aba63c0d99d",
                "f1c2a2bd39e18c3e"
            ]
        ]
    },
    {
        "id": "f1c2a2bd39e18c3e",
        "type": "json",
        "z": "212df90cf04ad99d",
        "name": "Format",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 1120,
        "y": 440,
        "wires": [
            [
                "51cd8270037d394c"
            ]
        ]
    },
    {
        "id": "51cd8270037d394c",
        "type": "azureiothub",
        "z": "212df90cf04ad99d",
        "name": "Azure Out - ZoneA_CO2",
        "protocol": "http",
        "x": 1150,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "05d20aba63c0d99d",
        "type": "debug",
        "z": "212df90cf04ad99d",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 620,
        "wires": []
    },
    {
        "id": "c7dd8add2dedc51f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "node-red.cqu.edu.au",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]